.dot-flashing {
  position: relative;
  width: 8px;
  height: 8px;
  border-radius: 5px;
  background-color: #333;
  color: #333;
  animation: dot-flashing 1s infinite linear alternate;
}
.dot-flashing::before, .dot-flashing::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
}
.dot-flashing::before {
  left: -12px;
  width: 8px;
  height: 8px;
  border-radius: 5px;
  background-color: #333;
  color: #333;
  animation: dot-flashing 1s infinite alternate;
}
.dot-flashing::after {
  left: 12px;
  width: 8px;
  height: 8px;
  border-radius: 5px;
  background-color: #333;
  color: #333;
  animation: dot-flashing 1s infinite alternate;
}
@keyframes dot-flashing {
  0% {
    background-color: #333;
  }
  50%, 100% {
    background-color: #fff;
  }
}
.typing {
  max-width: 80%;
}
